<div class="navigation">
    <ul class="btn--nav-group">
        <li class="btn btn--nav active">
            <a href="parking.html">
                <i class="parking-icon">P</i>
            </a>        
        </li>
        <li class="btn btn--nav active wifi-unlock">
            <a href="wifi.html">
                <i class="fa fa-wifi"></i>
            </a>            
        </li>
        <li class="btn btn--nav active">
            <a href="rating.html">
                <i class="fa fa-star"></i>
            </a>
        </li>
        <li class="btn btn--nav active">
            <a href="map.html">
                <i class="fa fa-map-marker"></i>
            </a>
        </li>
        <li class="btn btn--nav active">
            <a href="description.html">
                <i class="fa fa-coffee"></i>
            </a>    
        </li>
    </ul>
</div>
</div>