<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

<div class="container">
    <div class="header">
        <div class="header--global">
            <div class="header--global-text">
                <p></p>
                <a href="home.html">
                    <div class="btn btn-back">
                        <div class="arrow arrow--back-left">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-parking">
        </div>
    </div>
{% include navigation.html %}
</body>
{% include scripts.html %}
    <script src="../js/parking-api.js"></script>  
</html>