<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="container">
    <div class="header">
        <div class="header--global">
            <div class="header--global-text">
                <p></p>
                <a onclick="gohome()" href="home.html">
                    <div class="btn btn-back">
                        <div class="arrow arrow--back-left">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="content--wifi">
        <div class="text--wifi">

            
            <p class="coffeebar"></p>
            <div class="rate-text"></div>
            <div class="rate">
                
            </div>
    </div>

        

    </div>
{% include navigation.html %}
</body>
{% include scripts.html %}
    <script src="../js/app.js"></script>  
    <script src="../js/wifi-code.js"></script>   
</html>